body{
    background-image:url(imgs/Casino-RPS.jpg) ;
    background-position:center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color:gold;
    text-shadow: 0px 0px 7px black;
}
.BackButton{
    margin-top: 5px;
}
.iconDefault{
    height: 80px;
    width: 80px;
    border: 1px;
    border-radius:50%;
    margin-top: 5px;
}
.gamebox{
    background-color:white;
    text-align: center;
    margin:auto;
}
.RPS-Buttons{
    margin: auto;
    text-align: center;
    margin-top:5%;
}
.rock-photo{
    height:120px;
}

.paper-photo{
    height:120px;
}

.scissors-photo{
    height:120px;
}
.player-box{
    width:33%;
}
.VS-box{
    width:33%;
}
.opponent-box{
    width:33%;
}