body{
    background-image:url(imgs/Casino-RPS.jpg) ;
    background-position:center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color:gold;
    text-shadow: 0px 0px 7px black;
}
.BackButton{
    margin-top: 5px;
}
.iconDefault{
    height: 80px !important;
    width: 80px !important;
    border: 1px;
    border-radius:50%;
    margin-top: 5px;
}
.gamebox{
    background-color:white;
    text-align: center;
    margin:auto;
    border: 10px dotted;
    border-color:gold;
    border-radius:5%;
}
.RPS-Buttons{
    margin: auto;
    text-align: center;
    margin-top:5%;
}
.rock-button{
    border:5px;
    border-style:outset;
    border-color:darkgoldenrod;
}
.rock-button:hover{
    border:5px;
    border-style:outset;
    border-color:whitesmoke;
    background-color:darkgoldenrod;
}
.paper-button{
    border:5px;
    border-style:outset;
    border-color:darkgoldenrod;
}
.paper-button:hover{
    border:5px;
    border-style:outset;
    border-color:whitesmoke;
    background-color:darkgoldenrod;
}
.scissors-button{
    border:5px;
    border-style:outset;
    border-color:darkgoldenrod;
}
.scissors-button:hover{
    border:5px;
    border-style:outset;
    border-color:whitesmoke;
    background-color:darkgoldenrod;
}
.option-photo{
    height:150px !important;
    width:auto;
}
.playerResult{
color:black;
}
.opponentResult{
    color:black
}
.gameOver{
position: absolute; /*popup, use absolute */ /*inline, use relative*/
    z-index: 10000;
    background-color: white;
    height: 85%;
    aspect-ratio: 3/4;
    
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
    
    background-color: rgba(184,134,11,0.95);
    border: 10px dotted;
    border-color:gold;
    text-align: center;
}
.player-box{
    max-height:150px;
}
.VS-box{
    max-height:150px;
}
.opponent-box{
    max-height:150px;
}
.modeName{
    text-align: center;
}