body {
    background-image:url(imgs/Casino-RPS.jpg) ;
    background-position:center center;
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment:fixed;
    color:gold;
    text-shadow: 0px 0px 7px black;
}
.title{
    text-align: center;
    border: 100px outset;
    border-color:gold;
}